.picture {
    border-radius: 10px;
    height: 210px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name {
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0;
}

.card {
    cursor: pointer;
    width: 210px;
}

.artist_name {
    color: #99999F;
    font-size: 14px;
    font-weight: 200;
    margin: 3px 0;
}