.picture {
    height: 12rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .picture {
        height: 11rem;
    }
}