.swiperContainer {
  .swiperSlide {
    width: auto;
  }
}

.header {
  display: flex;
  flex-direction: row;

  svg {
    margin: 0 1rem;
    cursor: pointer;
  }

  h2 {
    color: white;
  }
}

.iconContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 2.5rem;
}
