.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2dceef;

}

.box {
    width: 70%;

    p {
        font-size: 2.1rem;
        color: white;
    }
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    a {
        font-size: 2rem;
        margin: 0 1rem;
    }
}