.album {
    margin: 1.5rem 1rem;
    width: 18rem;
    cursor: pointer;

    img {
        height: 18rem;
        width: 18rem;
        border-radius: 1rem;
    }

    h5 {
        font-weight: 500;
        margin: 0.8rem 0;
    }

    p {
        font-size: 1.1rem;
        font-weight: 400;
        margin: 0;
        color: #99999F;
    }
}

@media screen and (max-width: 768px) {
    .album {
        width: 14rem;
        margin: 1.5rem 0rem;

        img {
            height: 14rem;
            width: 14rem;
            border-radius: 1rem;
        }
    }
}