.box {
    padding: 4rem 16rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    table {
        font-size: 1.4rem;
        width: 100%;
        margin-bottom: 3rem;
        th {
            color: #99999F;
            text-align: left;
        }

        tr {
            height: 60px;
            td {
                cursor: pointer;
            }

            img {
                height: 4.5rem;
                border-radius: 0.5rem;
            }
        }
    }
}
