.box {
    display: flex;
    flex-direction: row;
    color: white;
    flex: 1;
    align-items: center;

    img {
        height: 5.5rem;
        border-radius: 1rem;
        margin-right: 1rem;
    }
}

.info {
    
    h4 {
        font-size: 1.4rem;
        font-weight: 400;
        margin: 1rem 0;
    }

    p {
        font-size: 1.2rem;
        font-weight: 200;
    }
}

