.container {
    background-color: rgba(57, 57, 60, 0.9);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 7rem;
    position: fixed;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
}

.panel {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.box {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    svg {
        margin: 1.6rem 4rem;
        cursor: pointer;
    }
}

.progressContainer {
    background: #fff;
    border-radius: .5rem;
    cursor: pointer;
    height: .35rem;
    width: 100%;
}

.progressBar {
    background-color: #2DCEEF;
    border-radius: .5rem;
    height: 100%;
    width: 0%;
}

.volumePanel {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.volumeContainer {
    width: 12rem;
    margin-left: 1rem;
    align-items: center;
    background: #fff;
    border-radius: .5rem;
    cursor: pointer;
    height: .35rem;
}

.volume {
    background-color: #2DCEEF;
    border-radius: .5rem;
    height: 100%;
    width: 100%;
}

// @media screen and (max-width: 768px) {
//     .container {
//         display: none;
//     }
// }