.Navigation {
    align-items: center;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: transparent;
    display: flex;
    height: 84px;
    position: sticky;
    top: 0;
}