.cover {

    img {
        height: 200px;
        border-radius: 100px;

    }
}
.box {
    color: white;
    display: flex;
    flex: 1;
    margin: 50px 160px;

    h3 {
        margin-left: auto;
        padding: 60px;
        font-weight: 500;
    }
}

.info {
    margin: 20px 40px;

    h2 {
        font-size: 40px;
        margin: 0;
    }
}