.cover {

    img {
        height: 20rem;
        border-radius: 10rem;

    }
}
.box {
    color: white;
    display: flex;
    flex: 1;
    margin: 5rem 16rem;

    h3 {
        margin-left: auto;
        padding: 6rem;
        font-weight: 500;
    }
}

.info {
    margin: 2rem 4rem;

    h2 {
        font-size: 4rem;
        margin: 0;
    }
}